body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#boardGame {
  width : 90vh;
  height: 90vh;
  max-height: 90vw;
}

.reverseBoardGame {
    width : 90vh;
    height: 90vh;
    max-height: 90vw;
    transform: rotate(180deg);
}

.boardRow {
  height: 10%;
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 0;
  }

/* styling the odd board squares  */
.boardRow:nth-child(odd) .square:nth-child(even) {
  background-color: rgb(0, 110, 144, .9);
}

.boardRow:nth-child(even) .square:nth-child(odd) {
  background-color: rgb(0, 110, 144, .9);
}

 /* styling the even board squares */

 .boardRow:nth-child(odd) .square:nth-child(odd) {
   background-color: rgb(241, 143, 1, .6);
 }

 .boardRow:nth-child(even) .square:nth-child(even) {
   background-color: rgb(241, 143, 1, .6);
 }

.square {
  display: inline-flex;
  width: 10%;
  height: 100%;
  border: 1px solid transparent;
}

img {
  width: 100%;
  height: 100%;
}
